In [ ]:
#Q1

'''A database is a structured set of data. It is a collection of schemas, 
tables, queries, reports, views, and other objects. A database helps 
in storing, manipulating, and retrieving data efficiently.

SQL (Structured Query Language) databases are also known as relational
databases. They use structured queries to interact with the database. 
Data in SQL databases is stored in tables, which is a collection of related 
entries, and these tables are linked via keys. SQL databases are vertically
scalable, and they are widely used when the consistency of data is critical.
Examples include MySQL, Oracle Database, PostgreSQL, and SQL Server.

NoSQL (Not Only SQL) databases are non-relational, meaning they do not rely 
on the traditional table-key model. They can handle unstructured and semi-structured data with flexibility.'''

In [ ]:
#Q2

'''DDL or Data Definition Language actually consists of the SQL commands 
that can be used to define the database schema. It simply deals with 
descriptions of the database schema and is used to create and modify 
the structure of database objects in the database.

CREATE: It is used to create the database or its objects (like table, 
                                                          index, function, views, store procedure, etc.).
Example: CREATE TABLE Students (ID INT, Name TEXT, Age INT);


DROP: It is used to delete a whole database or just a table.
The DROP statement destroys the objects like an existing database, table, index, or view.
Example: DROP TABLE Students;

ALTER: It is used to alter the structure of the database. 

The ALTER command is used to add, delete/drop or modify columns in 
the existing table. It is also used to add and drop various constraints on the existing table.
Example: ALTER TABLE Students ADD Email VARCHAR(255);

TRUNCATE: It is used to delete all the records from the table and free the space containing the table.
Example: TRUNCATE TABLE Students;'''

In [ ]:
#Q3

'''DML or Data Manipulation Language actually consists of the SQL
commands that can be used to manipulate the database, such as 
storing, retrieving, modifying, and deleting data.

INSERT: This command is used to insert data into a table.
Example: INSERT INTO Students (ID, Name, Age) VALUES (1, 'John', 20);

UPDATE: This command is used to update existing records in a table.
Example: UPDATE Students SET Age = 21 WHERE ID = 1;

DELETE: This command is used to delete existing records in a table.
Example: DELETE FROM Students WHERE ID = 1;'''

In [ ]:
#Q4

'''DQL or Data Query Language consists of the SQL command used to 
retrieve the data from the database. The SELECT statement is
used in SQL to fetch data from a database.

SELECT: This command is used to select data from a database. 
The result is stored in a result table, called the result-set.
Example: SELECT * FROM Students; This query will fetch all records from the Students table.'''

In [ ]:
#Q5

'''primary Key: A primary key is a field in a table which uniquely
identifies each row/record in a database table. Primary keys
must contain unique values. A primary key column cannot have NULL values. 
A table can have only one primary key.

Foreign Key: A foreign key is a column or a set of columns in 
a table that is used to establish a link between the data in two
tables. The foreign key in one table points to the primary key in 
another table. The table containing the foreign key is called the
child table, and the table containing 
the candidate key is called the referenced or parent table.'''

In [ ]:
#Q6

import mysql.connector

cnx = mysql.connector.connect(user='<username>', password='<password>',
                              host='127.0.0.1',
                              database='<database>')

cursor = cnx.cursor()

import mysql.connector

cnx = mysql.connector.connect(user='<username>', password='<password>',
                              host='127.0.0.1',
                              database='<database>')

cursor = cnx.cursor()

In [ ]:
#Q7

'''FROM and JOIN
WHERE
GROUP BY
HAVING
SELECT
DISTINCT
ORDER BY
LIMIT and OFFSET'''