In [1]:
#Q1

import pandas as pd


data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)


print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#Q2
import pandas as pd


my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


series_list = pd.Series(my_list)


print(series_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
#Q3

import pandas as pd

data = {
    'NAME': ['Alice', 'Bob', 'Chaire'],
    'AGE': [25, 30, 27],
    'GENDER': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     NAME  AGE  GENDER
0   Alice   25  Female
1     Bob   30    Male
2  Chaire   27  Female

In [4]:
#Q4

'''pandas.Series:

A Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.).
It has a single set of labels called the index.
Think of it like a column in a spreadsheet or a vector in mathematical terms'''

import pandas as pd
s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
print(s)

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
'''pandas.DataFrame:

A DataFrame is a 2-dimensional labeled data structure with columns that can be of different types, similar to a spreadsheet, an SQL table, or the data.frame in R.
It has an index for rows and another set of labels for columns.
Think of it as a collection of Series objects that share a common index.'''

import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}
df = pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [ ]:
#Q5

'''head() and tail(): Display the first or last few rows of the DataFrame.

Use case: Quick inspection of your data.'''

In [ ]:
#Q6

'''Series: Mutable. The values and the index of a Series can be modified.
DataFrame: Mutable. The data, index, and columns of a DataFrame can be modified.
Panel: Mutable'''

In [6]:
#Q7

import pandas as pd

series1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
series2 = pd.Series([4, 5, 6], index=['a', 'b', 'c'])
series3 = pd.Series([7, 8, 9], index=['a', 'b', 'c'])

df = pd.DataFrame({'A': series1, 'B': series2, 'C': series3})
print(df)

   A  B  C
a  1  4  7
b  2  5  8
c  3  6  9