In [4]:
#Q1 

players_scores = [('Sachin Tendulkar', 34357), 
                  ('Ricky Ponting', 27483), 
                  ('Jack Kallis', 25534), 
                  ('Virat Kohli', 24936)]


sorted_players_scores = sorted(players_scores, key=lambda x: x[1])


print(sorted_players_scores)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [11]:
#Q2

# using lambda function

l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list(map(lambda x : x**2,l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
# Q3

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map(lambda x: str(x), numbers))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [19]:
#Q4

from functools import reduce
import operator

numbers = list(range(1, 26))


reduce(operator.mul, numbers)

15511210043330985984000000

In [20]:
#Q5

l3=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

list(filter(lambda x : x % 2 == 0  and x % 3 == 0, l3))

[6, 60, 90, 120]

In [ ]:
#Q